.about {
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    background: #1c1c24;
    border-radius: 20px;
    margin-top:12px;
    top: 5px;
    
}