.campaigns {
}

.campaign {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}


.campaign h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.campaign_description {
  margin-bottom: 16px;
}
.campaign_image_preview img {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 10px;
  border: 1.5px solid teal;
}
.campaign_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1.5px solid teal;
}

.campaign_meta {
  display: grid;
}

.campaign_meta_item {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.deadline {
  grid-column: 1/2;
  color: #838383;
}
.target {
  grid-column: 1/2;
}
.raised {
  grid-column: 2/3;
  justify-self: end;
}





.addCampaignModal {
  display: flex;
  gap:1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color:black;
  background-color: rgb(225, 225, 225)
}
.addCampaignModal label {
  font-style: italic;
}
.addCampaign_fieldRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.addCampaign_fieldColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:0.2rem;
}
.addCampaign_fieldColumn fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.addCampaign_fieldColumn fieldset legend {
  font-style: italic;
}



