@font-face {
  font-family: "robotolight";
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"),
    url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold_condensed_italic";
  src: url("../fonts/roboto-boldcondenseditalic-webfont.woff2") format("woff2"),
    url("../fonts/roboto-boldcondenseditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h2 {
  text-align: center;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "robotomedium", sans-serif;
}

a {
  transition: 200ms;
  color: rgb(95, 175, 133);
  text-decoration: none;
}
a:hover {
  color: rgb(126, 227, 173);
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #e7e8e8;
  background: #0f1318;
}

.currencyLogo {
  width: 1.3rem;
  margin-right: 0.5rem;
}
#ethLogo {
  width: 0.9rem;
}
#maticLogo {
}

button {
  background-color: #7eecbc;
  color: #0f1318;
  border: 1px solid #64bb95;

  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 200ms;
}
button:hover {
  background-color: #0f1318;
  color: #7eecbc;
  border: 1px solid #7eecbc;
}

.button_disabled {
  background-color: #0f1318;
  color: #e7e8e8;
  border: 1px solid #e7e8e8;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: not-allowed;
}

form input {
  padding: 5px;
  border-radius: 8px;
}

.form_error {
  padding: 3px;
  display: flex;
  flex-direction: column;
  color: teal;
  font-size: smaller;
  font-style: italic;
  user-select: none;
}
