

.addCampaignModal {
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:black;
    background-color: rgb(225, 225, 225)
}

.form_error {
    color:red;
    font-size: smaller;
    font-style: italic;
    user-select: none;
}